##############################
## Folders                  ##
##############################
Stm32F4/RobotProject/MDK-ARM/SweepRobot
Stm32F4/RobotProject/MDK-ARM/DebugConfig
Stm32F4/RobotProject/MDK-ARM/RTE
Stm32F4/RobotProject/MDK-ARM/JLinkLog.txt
Stm32F4/RobotProject/MDK-ARM/startup_stm32f405xx.lst
Stm32F4/RobotProject/MDK-ARM/SweepRobot.uvguix.Admin
Stm32F4/RobotProject/MDK-ARM/debug.ini
Stm32F4/RobotProject/MDK-ARM/EventRecorderStub.scvd
Stm32F4/RobotProject/MDK-ARM/JLinkSettings.ini
Stm32F4/RobotProject/MDK-ARM/SweepRobot.uvguix.zdx
Stm32F4/JoystickProject/MDK-ARM/Joystick
Stm32F4/JoystickProject/MDK-ARM/DebugConfig
Stm32F4/JoystickProject/MDK-ARM/RTE
Stm32F4/JoystickProject/MDK-ARM/JLinkLog.txt
Stm32F4/JoystickProject/MDK-ARM/startup_stm32f405xx.lst
Stm32F4/JoystickProject/MDK-ARM/SweepRobot.uvguix.Admin
Stm32F4/JoystickProject/MDK-ARM/debug.ini
Stm32F4/JoystickProject/MDK-ARM/EventRecorderStub.scvd
Stm32F4/JoystickProject/MDK-ARM/JLinkSettings.ini
Stm32F4/JoystickProject/MDK-ARM/SweepRobot.uvguix.zdx