##############################
## Folders                  ##
##############################
Stm32F4/KeilMdk5Project/SweepRobot/MDK-ARM/SweepRobot
Stm32F4/KeilMdk5Project/SweepRobot/MDK-ARM/DebugConfig
Stm32F4/KeilMdk5Project/SweepRobot/MDK-ARM/RTE

##############################
## Netbeans conf            ##
##############################
Stm32F4/KeilMdk5Project/SweepRobot/MDK-ARM/startup_stm32f405xx.lst
Stm32F4/KeilMdk5Project/SweepRobot/MDK-ARM/SweepRobot.uvguix.Admin